@page "/QNASession"
@rendermode InteractiveServer

<PageTitle>QnA</PageTitle>

<h1>QnA Session</h1>
<hr />

<div class="form-group row">
    <div class="col-sm-3">
        <button class="btn btn-primary">
            Start Session
        </button>
    </div>
</div>

@code {

}
